:root {
    --main-clr: #000;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}