/* header css */
.header {
    background: var(--main-clr);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-social {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.header__nav-item-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 11px 16px;
}

.header__nav-item-link:hover {
    background: #ccc;
    color: var(--main-clr);
}

/* main css */

.main__header {
    padding: 48px 16px;
    text-align: center;
}

.main__header-name {
    font-size: 4.8rem;
    line-height: 7.2rem;
    margin: 10px 0px;
    font-weight: 500;
}

.main__header-messeage {
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.main__header-tag {
    display: inline-block;
    padding: 0 8px;
    line-height: 2.4rem;
    background: var(--main-clr);
    color: #fff;
}

.main__display {
    position: relative;
}

.main__display-img {
    width: 100%;
    display: block;
}

.main__display-text-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 24px;
}


.main__display-name,
.main__display-title {
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
}

.main__display-name {
    font-size: 3.6rem;
    line-height: 4rem;
    color: #fff;

}

.main__display-title {
    font-size: 6.4rem;
    line-height: 7rem;
    color: #fff;
}

.main__content {
    background: #f1f1f1;
    border-right: 1px solid #ccc;
}

.main__content-wrapper {
    margin: auto;
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
}

.main__content-left-col {
    width: 66.25%;
    padding-left: 16px;
    padding-right: 16px;
}

.main__blog {
   background: #fff;
   text-align: center;
   padding: 12px 24px;
   margin: 16px 0;
}

.main__blog-title,
.main__blog-desc {
    font-weight: 400;
    margin: 10px 0;
}

.main__blog-title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    
}

.main__blog-desc {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.main__blog-date {
    opacity: 0.6;
}

.main__blog-img-wrapper {
    margin: 28px 0 32px;
}

.main__blog-img-item {
    width: 100%;
    display: block;
}

.main__blog-content {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: justify;
}

.main__blog-content-strong {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

.main__blog-interaction {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.main__blog-btn {
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 16px;
}

.main__blog-btn:hover {
    background: #ccc;
    color: var(--main-clr);
    cursor: pointer;
}

.main__blog-like-btn {
    background: #fff;
    border: 1px solid #ccc;
}

.main__blog-reply-btn {
    border: none;
    background: #000;
    color: #fff;
}

.main__blog-reply-quantity {
    color: var(--main-clr);
    background: #fff;
    font-weight: 400;
    padding: 2px 8px;
    margin-left: 8px;
}

.main__content-separate {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.main__content-separate--full {
    margin-left: -12px;
    margin-right: -12px;
}

.main__blog-reply-item {
    display: flex;
    text-align: justify;
    margin-bottom: 16px;
}

.main__blog-reply-img {
    height: 108px;
    margin-right: 44px;
}

.main__blog-reply-content {
    font-size: 1.6rem;    
    line-height: 2.6rem;
}

.main__blog-reply-info {
    color: rgba(0, 0, 0, 0.6);
}

.main__blog-reply-name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-clr);
}

.main__blog-reply-messeage {
    line-height: 2.5rem;
}

/* right col css */

.main__content-right-col {
    width: 33.75%; 
    padding-left: 16px;
    padding-right: 16px;
}

.main__content-right-col-item {
    background: #fff;
    background-clip: content-box;
}

.main__right-col--pd-16 {
    padding: 16px;
}

.main__introduce {
    margin: 16px 0;
}

.main__introduce-img {
    display: block;
    width: 100%;
    filter: grayscale(75%);
}

.main__introduce-wrapper {
    background: var(--main-clr);
    color: #fff;
}

.main__introduce-name {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 0 0 10px;
}

.main__introduce-desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 15px 0 0;
}

.main__posts-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 18px 16px;
    margin: 0;
    background: var(--main-clr);
    color: #fff;
}

.main__posts-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.main__posts-list-item + .main__posts-list-item {
    border-top: 1px solid #ddd;
}

.main__posts-link {
    display: flex;
    text-decoration: none;
    color: var(--main-clr);
}

.main__posts-link:hover {
    background: #ccc;
}

.main__posts-link-img {
    display: block;
    width: 50px;
    margin-right: 16px;
}

.main__posts-link-img--filter {
    filter: sepia(75%);
}

.main__posts-link-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
}

.main__posts-link-desc {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 4px 0 0;
}

.main__advertise-wrapper {
    height: 200px;
    background: #f1f1f1;
    background-clip: content-box;
    position: relative;
}

.main__advertise-messeage {
    margin: 0;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__tags-link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-clr);
    font-size: 1.4rem;
    background: #f1f1f1;
    margin: 0 2px 16px;
    padding: 2px 8px;
}

.main__tags-link--active {
    background: var(--main-clr);
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
}

.main__tags-link:hover,
.main__tags-link--active:hover {
    opacity: 0.6;
}

.main__inspiration-wrapper {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.main__inspiration-item {
    width: 50%;
    padding: 8px;
}

.main__inspiration-img {
    display: block;
    width: 100%;
}

.main__follow-wrapper {
    display: flex;
    justify-content: space-around;
}

.main__follow-link {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--main-clr);
}

.main__follow-link:hover {
    opacity: 0.6;
}

.main__subscribe-label,
.modal__subscribe-label {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 16px;
}

.main__subscribe-label--close-modal,
.modal__subscribe-label--close-modal {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 12px;
    cursor: pointer;
}

.main__subscribe-label--close-modal:hover,
.modal__subscribe-label--close-modal:hover {
    background: #ccc;
    color: var(--main-clr);
}

.main__subscribe-input,
.modal__subscribe-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 16px;
}

.main__subscribe-input::placeholder,
.modal__subscribe-input::placeholder {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #aaa;
}

/* footer css */

.footer {
    background: #616161;
    padding: 32px;
    font-size: 1.6rem;
    color: #fff;
}

.footer__on-top-link {
    display: inline-block;
    text-decoration: none;
    line-height: 2.2rem;
    color: #fff;
    background: var(--main-clr);
    padding: 12px 24px;
    margin-bottom: 16px;
}

.footer__on-top-link:hover {
    background: #ccc;
    color: var(--main-clr);
}

.footer__icon {
    margin-right: 12px;
}

.footer__copyright-link {
    color: #fff;
}

/* modal subscribe css */

@keyframes showModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    animation: showModal 0.8s;
    display: none;
}

.modal__subscribe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    animation: showModal 0.8s;
    display: none;
}

.modal__subscribe-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0 0 20px;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
}   

.modal__subscribe-title-label {
    display: flex;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    padding: 8px 16px;
    cursor: pointer;
}

.modal__subscribe-title-label:hover {
    background: #ccc;
}

.modal__subscribe-title-label i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-top: 2px;
}

.close-modal {
    display: none;
}

.close-modal:checked ~ .overlay,
.close-modal:checked ~ .modal__subscribe {
    display: block;
}







