@media (max-width: 992px) {
    .main__content-left-col {
        width: 100%;
    }

    .main__content-right-col {
        width: 100%; 
    }

    .main__content-right-col:last-child {
        margin-bottom: 16px;
    }

    .modal__subscribe {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .header {
        display: none;
    }

    .main__display-title {
        display: none;
    }

    .modal__subscribe {
        width: 95%;
    }
}